<div class="container">
  <h1>Contacts</h1>
  <div class="row mb" *ngFor="let contact of contacts;">
    <div class="col-sm-3">{{contact.first_name}}</div>
    <div class="col-sm-3">{{contact.last_name}}</div>
    <div class="col-sm-3">{{contact.phone}}</div>
    <div class="col-sm-3">
      <input type="button" (click)="editContact(contact)" value="Edit" class="btn btn-primary"/>
      <input type="button" (click)="deleteContact(contact._id)" value="Delete" class="btn btn-danger"/>
    </div>
    <hr/>        
  </div>
  <div>
    <form>
      <div class=form-group>
          <label>First Name</label>
          <input type="text" [(ngModel)]="first_name" name="first_name" class="form-control" required/>
      </div>
      <div class=form-group>
          <label>Last Name</label>
          <input type="text" [(ngModel)]="last_name" name="last_name" class="form-control" required/>
      </div>
      <div class=form-group>
          <label>Phone</label>
          <input type="text" [(ngModel)]="phone" name="phone" class="form-control" required/>
      </div>
      <div class=form-group>
          <input type="button" *ngIf="isAddBtnVisible; else updateBtn" (click)="addContact()"class="btn btn-success" value="Add Contact"/>
          <ng-template #updateBtn>
            <input type="button" class="btn btn-success" (click)="updateSelected()" value="Update Contact"/>
            <input type="button" class="btn btn-default" (click)="clearForm()" value="Clear All"/>
          </ng-template>
      </div>
    </form>
  </div>
</div>

